* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    font-size: 18px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    
}

.fa-bars:before{
    color: white
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links {
    text-decoration: none;
    color: #FFF;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
}

.active {
    display: block;
}

#imageheader{
    background-image: url('image/paysage.jpg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    height:200px;
    position: relative

}



@media screen and (min-width: 768px) {

    
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 40px;
        align-items: center;
        width: 100%;
        background-color: #fbb03b;
    }
    
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
       
    }

    .main-nav li {
        margin: 0;
        display: inline;
    }

    .nav-links {
        font-size: 17px;
    }

    .navbar-toggle {
        display: none;
    }

    li{
        margin: 3px;
    }
    
}
